.l-fluid-box {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* flexbox
   ----------------------------------------------------------------- */

.l-displayflex{
  display: flex;
}

.l-justify-right{
  display: flex;
  justify-content: right;
}

.l-justify-left{
  display: flex;
  justify-content: left;
}

.l-justify-center{
  display: flex;
  justify-content: center;
}

.l-table-column{
  display: table-column;
}

.l-flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

/* display
   ----------------------------------------------------------------- */
.l-displayblock{
  display: block;
}
