/* color
   ----------------------------------------------------------------- */
.u-bgc-grey {
  background-color: #F7F7F7;
}

.u-bgc-blk {
  background-color: black;
}

.u-bgc-navy {
  background-color: #191438;
}

.u-white {
  color: white;
}

.u-black{
  color: black;
}

.u-navy{
  color:#191438;
}

.u-colorlg {
  color: #272727;
}
/* font-famiily
   ----------------------------------------------------------------- */
.u-fontfamily {
  font-family: "AxisStd-Light", sans-serif;
}
/* margin
   ----------------------------------------------------------------- */
.u-m0 {
  margin: 0;
}

.u-margin0auto {
  margin: 0 auto;
}

.u-margin5auto {
  margin: 5 auto;
}

.u-margin20auto {
  margin: 20px auto;
}

.u-margin30auto {
  margin: 30px auto;
}

.u-margin50auto {
  margin: 50px auto;
}

.u-margin60auto {
  margin: 60px auto;
}

.u-margin80auto {
  margin: 80px auto;
}

.u-margin20auto0 {
  margin: 20px auto 0;
}

.u-mt110auto {
  margin: 110px auto 0;
}

.u-mt-15 {
  margin-top: -15px;
}

.u-mt-5 {
  margin-top: -5px;
}

.u-mt0 {
  margin-top: 0;
}

.u-mt5 {
  margin-top: 5px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt25 {
  margin-top: 25px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt35 {
  margin-top: 35px;
}

.u-mt40 {
  margin-top: 40px;
}

.u-mt70 {
  margin-top: 70px;
}

.u-mt80 {
  margin-top: 80px;
}

.u-mt90 {
  margin-top: 90px;
}

.u-mr3 {
  margin-right: 3%;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mr60 {
  margin-right: 60px;
}

.u-mla {
  margin-left: auto;
}

.u-ml2 {
  margin-left: 2%;
}

.u-ml3 {
  margin-left: 3%;
}

.u-ml5 {
  margin-left: 5px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-ml20 {
  margin-left: 20px;
}

.u-ml30 {
  margin-left: 30px;
}

.u-ml40 {
  margin-left: 40px;
}

.u-ml50 {
  margin-left: 50px;
}

.u-ml60 {
  margin-left: 60px;
}

.u-ml70 {
  margin-left: 70px;
}

.u-mla0{
  margin-left: auto;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mb100 {
  margin-bottom: 100px;
}

.u-mtb20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-mtb25{
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mtb80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
/* padding
   ----------------------------------------------------------------- */

.u-p7-10-0-10{
  padding: 7px 10px 0 10px;
}

.u-p10 {
  padding: 10px;
}

.u-p20 {
  padding: 20px;
}

.u-p30 {
  padding: 30px;
}

.u-p37 {
  padding: 37px;
}

.u-pt5 {
  padding-top: 5px;
}

.u-pt8 {
  padding-top: 8px;
}

.u-pt10 {
  padding-top: 10px;
}

.u-pt15 {
  padding-top: 15px;
}

.u-pt20 {
  padding-top: 20px;
}

.u-pt25 {
  padding-top: 25px;
}

.u-pt30 {
  padding-top: 30px;
}

.u-pt40 {
  padding-top: 40px;
}

.u-pt70 {
  padding-top: 70px;
}

.u-pt80 {
  padding-top: 80px;
}

.u-pr10 {
  padding-right: 10px;
}

.u-pr25 {
  padding-right: 25px;
}

.u-pb10 {
  padding-bottom: 10px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pb110 {
  padding-bottom: 110px;
}

.u-pl0 {
  padding-left: 0;
}

.u-pl10 {
  padding-left: 10px;
}

.u-pl20 {
  padding-left: 20px;
}

.u-ptb10 {
  padding-top:10px;
  padding-bottom: 10px;
}

.u-ptb0rl10 {
  padding: 0 10px;
}

.u-ptb10rl0 {
  padding: 10px 0;
}

.u-ptb20rl0 {
  padding: 20px 0;
}

.u-ptb30rl0 {
  padding: 30px 0;
}

/* width
   ----------------------------------------------------------------- */
.u-w5 {
  width: 5%;
}

.u-w10 {
  width: 10%;
}

.u-w18{
  width: 18%;
}

.u-w20{
  width: 20%;
}

.u-w25 {
  width: 25%;
}

.u-28 {
  width: 28%;
}

.u-w55 {
  width: 55%;
}

.u-w66 {
  width: 66%;
}

.u-w70 {
  width: 70%;
}

.u-w80 {
  width: 80%;
}

.u-w135{
  width: 135px;
}

.u-w155{
  width: 155px;
}

.u-w190{
  width: 190px;
}

.u-w570{
  width: 570px;
}

.u-w680 {
  width: 680px;
}

.u-w1040 {
  width: 1040px;
}

.u-maxw100 {
  max-width: 100%;
}
/* border
   ----------------------------------------------------------------- */
.u-border {
  border: 1px solid #ccc;
}

.u-bordertop {
  border-top: 1px solid #ccc;
}

.u-bordertopbottom {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.u-bordertop__black {
  border-top: 1px solid #1c1c1c;
}

.u-borderbottom__black {
  border-bottom: 1px solid #1c1c1c;
}

.u-borderright {
  border-right: 1px solid #ccc;
}

.u-borderright__black {
  border-right: 1px solid #1c1c1c;
}

.u-bln {
  border-left: none;
}

/* text-align
   ----------------------------------------------------------------- */
.u-tacenter {
  text-align: center;
}

.u-tajustify{
  text-align: justify;
}
