/* color
   ----------------------------------------------------------------- */
.u-bgc-grey{
  background-color: #F7F7F7;
}

/* margin
   ----------------------------------------------------------------- */
.u-margin0auto{
  margin: 0 auto;
}

.u-mla{
  margin-left: auto;
}

.u-ml5{
  margin-left: 5px;
}

.u-mr20{
  margin-right: 20px;
}

.u-mt0{
  margin-top: 0;
}

/* padding
   ----------------------------------------------------------------- */
.u-pt20{
  padding-top: 20px;
}

.u-pd10{
  padding-bottom: 10px;
}

.u-pl10{
  padding-left: 10px;
}

.u-ptb0rl10{
  padding: 0px 10px;
}


/* width
   ----------------------------------------------------------------- */
.u-w1060{
  width: 1060px;
}

/* border
   ----------------------------------------------------------------- */
.u-bln{
  border-left: none;
}
