/* header fontはこれだった AxisStd-Regular, sans-serif; */
body {
  width: 1060px;
  margin: 0 auto;
  font-family: "AxisStd-Regular", sans-serif;
  color: #272727;
}


a:hover {
  color: ;
}

a:active {
  color: ;
}


div.headerNavTop ul li a.login {
  background-color: #D9D8D8;
  color: #006;
  display: inline-block;
  height: auto;
}
/* ここの設定はわからないからとりあえず残しておく */



/* 3 AboutSchool ナビゲーション */

div.headerNavAboutbox {
  display: flex;
}/* ここの設定はわからないからとりあえず残しておく */

/* 6 パンくずリスト */

div.panKuzu ul li:before {
  content: ">";
  padding-right: 5px;
}
/* beforeは使うか迷うから残しておく */


/* <!-- 7 IT×グローバル社会を生き抜くのところ --> */
.mainText {
  color: #272727;
}





/*以下で線を表示*/
.mainText h3:before {
  content: '';
  position: relative;
  left: 50%;
  bottom: -90px;
  /*線の上下位置*/
  display: block;
  width: 200px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: black;
  /*線の色*/
}

.mainText p {
  font-size: 16px;
  line-height: 29px;
  text-indent: 0;
}

/*   <!-- 8 教育方針, N standards, N高の魅力 -->　*/

/* N standards */
.nStandards {
  position: relative;
  /* div全体をa にするためのpositionを設定する */
}


/* 9 高卒資格取得のためのBasic Program */

/* css共通で使う予定のimgHidariを書いていく */



.imgHidariTextColumn {
  display: flex;
  flex-direction: column;
  height: 504px;
}


.imgHidariTextColumnMidashi {
  background-color: #1A1A1A;
  margin: 0;
  width: 100px;
}

.readMore {
  width: 25%;
}

.imgHidariTextColumnImg:before {
  content: url(./images/icon_arrow01_right_black01.png);
  width: 90%;
}

.imgHidariTextColumnImg a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 504px;
  width: 28%;
}

.imgHidariText:hover {
  opacity: 0.7;
}

/* imgMigi用調整場所 */
.imgMigiText {
  margin-right: 2%;
  margin-left: 0;
}

.fluid-boxSecond {
  padding-bottom: 100px;
  border-top: 1px solid #ccc;
}

span.imgMigiSpan {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 20px;
}

/* <!-- 10 プロフェッショナルによる将来へ繋がるAdvanced Program --> */
#advancedProgram {
  background-color: #fff;
}

.imgHidariTextColumnMidashiAdvanced {
  background-color: #1A1A1A;
  margin: 0;
  width: 125px;
}

.imgHidariTextColumn p img {
  width: 85%;
  padding: 7px 7px 0px 7px;
}
