/* header fontはこれだった AxisStd-Regular, sans-serif; */
body {
  width: 1060px;
  margin: 0 auto;
  font-family: "AxisStd-Regular", sans-serif;
  color: #272727;
}

/* どこまで980pxにするかは後で見直そう */
ul {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: ;
}

a:active {
  color: ;
}

/* 一番上のヘッダー ナビゲーションバー*/
/* test フル画面表示できるか */
.fluid-box {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7F7F7;
}

div.headerNavTop {
  display: flex;
  font-size: 12px;
  line-height: 17px;
  height: 30px;
  background-color: #F7F7F7;
  padding-bottom: 10px;
  width: 1060px;
  margin: 0 auto;
}

div.headerNavTop h3 {
  weight: 700;
  color: #272727;
  padding-left: 10px;
}

div.headerNavTop ul {
  display: flex;
  color: #676767;
  margin-left: auto;
}

div.headerNavTop ul li {
  padding: 0px 10px;
  border-left: 1px solid #ccc;
  height: 10px;
}

div.headerNavTop ul li:first-child {
  border-left: none;
}

div.headerNavTop ul li a.login {
  background-color: #D9D8D8;
  color: #006;
  display: inline-block;
  height: auto;
}

/* 学校のロゴヘッダー ナビゲーションバー*/
div.headerNavLogo {
  display: flex;
  padding-top: 20px;
}

div.headerNavLogo p {
  font-size: 11px;
  line-height: 15px;
  color: #8d959c;
}

div.headerNavLogoPhone {
  display: table-column;
  margin-left: auto;
  margin-right: 20px;
}

div.headerNavLogoPhone p {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

div.headerNavLogoSns a {
  margin-left: 5px;
}

/* AboutSchool ナビゲーション */
div.headerNavAbout ul {
  display: flex;
  font-size: 15px;
  color: #1f286f;
  padding-left: 0;
}

div.headerNavAbout ul li {
  line-height: 17px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 160px;
  display: flex;
  justify-content: center;
}

div.headerNavAbout ul p {
  font-weight: 700;
  line-height: 21px;
  width: 170px;
  border: 1px solid #1f286f;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

div.headerNavAboutbox {
  display: flex;
  margin-left: 50px;
}

div.headerNavAboutbox a:hover {
  background-color: #211C74;
  color: #fff;
}

/* 紺色背景のナビゲーションバー */
.headerNavNavyBackground {
  background-color: #191438;
}

div.headerNavNavy {
  background-color: #191438;
  width: 1060px;
  margin: 0 auto;
}

div.headerNavNavy li.backslash:before {
  content: url(./images/icon_backslash01_black01.png);
  display: inline-block;
  padding: 0 10px 0 10px;
}

div.headerNavNavy ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 0;
}

div.headerNavNavy ul li {
  font-family: "AxisStd-Light", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

div.headerNavNavy ul li:first-child {
  margin-left: 20px;
}

div.headerNavNavy ul li a {
  display: inline-block;
  padding: 7px;
}

div.headerNavNavy ul li a:hover {
  background-color: #fff;
  color: #191438;
}

/* 5 キャッチコピーと画像 */
div.catchCopy {
  background-image: url(./images/about_mainimage01.jpg);
  height: 530px;
  display: flex;
}

div.catchCopyHeader {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

div.catchCopyHeader img {
  margin: 0 auto;
  size: 10%;
  display: block;
  height: 13px;
  max-width: 100%:
}

div.catchCopy h1 {
  font-family: AxisStd-Light, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 52px;
  line-height: 94px;
  color: #fff;
  font-weight: 400;
  margin-top: 0px;
  /* 一旦コメントアウトする
   position: relative;
  top: 10%;
  left: 35%; */
}

/*以下で線を表示*/
div.catchCopy h1:before {
  content: '';
  position: relative;
  left: 50%;
  bottom: -90px;
  /*線の上下位置*/
  display: block;
  width: 200px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: white;
  /*線の色*/
}

/* 6 パンくずリスト */
div.panKuzu {
  font-family: AxisStd-Light, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  padding: 20px 0 20px 0;
  width: 1060px;
  margin: 0 auto;
}

div.panKuzu a {
  color: #36538d;
}

div.panKuzu a:hover {
  text-decoration: underline;
}

div.panKuzu ul {
  margin: 0 0 0 10px;
}

div.panKuzu ul li {
  color: #272727;
}

div.panKuzu ul li:before {
  content: ">";
  padding-right: 5px;
}

div.fluid-boxPankuzu {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

/* <!-- 7 IT×グローバル社会を生き抜くのところ --> */
.mainText {
  color: #272727;
  text-align: center;
  margin-bottom: 20px;
}

.mainText h2 {
  font-size: 33px;
  line-height: 59px;
  font-family: "AxisStd-Light", sans-serif;
}

.mainText h3 {
  font-size: 22px;
  line-height: 40px;
  font-family: "AxisStd-Light", sans-serif;
}

/*以下で線を表示*/
.mainText h3:before {
  content: '';
  position: relative;
  left: 50%;
  bottom: -90px;
  /*線の上下位置*/
  display: block;
  width: 200px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: black;
  /*線の色*/
}

.mainText p {
  font-size: 16px;
  line-height: 29px;
  text-indent: 0;
}

/*   <!-- 8 教育方針, N standards, N高の魅力 -->　*/
/* 教育方針グループ全体のフォントとか設定するクラス */
/* 8 教育方針 */
.mainTextContents h2 {
  margin-bottom: 0
}

.mainTextContents h3 {
  font-size: 24px;
  line-height: 43px;
  border-right: 1px solid #000;
  margin-top: 0;
  padding: 0 10px;
}

.mainTextContents p {
  font-size: 19px;
  line-height: 34px;
  margin: 0;
  padding-left: 10px;
}

.mainTextContentsList {
  display: flex;
  flex-direction: column;
}

.mainTextContentsListBlock {
  display: flex;
}

.mainTextContentsflex {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 40px;
}

/* N standards */
.nStandards {
  background-color: #F6F6F6;
  border: 1px solid #ccc;
  margin: 50px auto;
  width: 65%;
  height: 330px;
  position: relative;
  /* div全体をa にするためのpositionを設定する */
}

.nStandardsInner {
  padding: 30px;
  display: flex;
}

.nStandards h3 {
  font-size: 22px;
  line-height: 22px;
}

.nStandards p {
  font-size: 16px;
  line-height: 29px;
}

.nStandardsContents {
  margin-left: 20px;
}

.nStandardsContents img {
  width: 15%;
}

.nStandardsContentsImg a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 330px;
}

.nStandardsContentsImg:before {
  content: url(./images/icon_arrow01_right_black01.png);
}

.nStandardsContents a:hover {
  /* これはあとで記入しよう */
}

/* 8 N高の魅力 */
.nKouMiryoku h2 {}

.nKouMiryoku h3 {
  border-right: 0;
  font-size: 25px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}

.nKouMiryoku p {
  font-size: 16px;
  line-height: 29px;
  border-top: 1px solid #ccc;
}

.nKouMiryokuContentsList small p {
  font-size: 12px;
  line-height: 22px;
  border: 0;
}

.nKouMiryokuflexList {
  display: flex;
  flex-direction: column;
}

.nKouMiryokuContentsList {
  display: flex;
  flex-direction: column;
}

.nKouMiryokuflex {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 40px;
  margin-bottom: 80px
}

.nKouMiryokuflexSecond {
  display: flex;
  padding-top: 40px;
  margin-bottom: 80px
}

/* 9 高卒資格取得のためのBasic Program */
.kosotuShikaku {
  text-align: center;
}

.kosotuShikakuMainText h3 {
  font-size: 33px;
  line-height: 59px;
  font-family: "AxisStd-Light", sans-serif;
  padding-top: 70px;
  font-weight: 400;
}

/*以下で線を表示*/
.kosotuShikakuMainText h3:before {
  content: '';
  position: relative;
  left: 50%;
  bottom: -60px;
  /*線の上下位置*/
  display: block;
  width: 200px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: black;
  /*線の色*/
}

.kosotuShikakuMainText p {
  font-size: 16px;
  line-height: 29px;
}

/* css共通で使う予定のimgHidariを書いていく */
.imgHidari {
  display: flex;
  width: 1060px;
  margin: 60px auto;
}

.imgHidariImage {
  display: flex;
  width: 70%;
}

.imgHidariImage img {
  max-width: 100%;
  /* なんでmax-widthにするかわかんないけど、サイトがそうしてるからとりあえず */
  height: auto;
}

.imgHidariText {
  display: flex;
  width: 28%;
  margin-left: 2%;
}

.imgHidariTextColumn {
  display: flex;
  flex-direction: column;
  height: 504px;
}

.imgHidariTextColumn h3{
  font-size: 22px;
  line-height: 40px;
}

.imgHidariTextColumnMidashi{
  background-color: #1A1A1A;
  margin: 0;
  width: 100px;
}
.imgHidariTextColumn p{
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  margin-top: 0;
}

.imgHidariTextColumn p img {
  width: 80%;
  padding: 10px 10px 0 10px;
}

span.imgHidariSpan{
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 20px;
}

.readMore{
  width: 25%;
}

.imgHidariTextColumnImg:before {
  content: url(./images/icon_arrow01_right_black01.png);
  width: 90%;
}

.imgHidariTextColumnImg a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 504px;
  width: 28%;
}

.imgHidariText:hover {
  opacity: 0.7;
}
